body {
  font-family: Courier, monospaced;
  font-size: 16px;
  font-weight: bold;
}

#canvas {
  /*
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
*/
  position: absolute;
  left: 300px;
  top: 50px;
}

.slider {
  position: absolute;
  /*left: 200px;
  top: -50px;*/

  appearance: none; /* removes browser-specific styling */
  width: 200px; /* width of slider */
  height: 50px; /* height of slider */
  background: #5555ff; /* blue background */
  outline: none; /* remove outline */
  border-radius: 30px; /* round corners */
  margin-top: 40%;
  transform: rotate(270deg); /* rotate the element */
}

.slider::-webkit-slider-thumb {
  appearance: none; /* removes browser-specific styling */
  width: 40px; /* handle width */
  height: 20px; /* handle height */
  border-radius: 30%; /* make it circular */
  background: #ffffff; /* white color */
  cursor: pointer; /* cursor on hover */
}
