body {
  font-family: Courier, monospaced;
  font-size: 16px;
  font-weight: bold;
}

#canvas {
  /*
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
*/
  position: absolute;
  left: 200px;
  top: -50px;
}
